<div class="section" id="certificate">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Certificate</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header cursor-pointer" data-toggle="modal" data-target="#certone">
                        <img src="assets/images/cert.Front - Phornpimon.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">โครงการการอบรมการพัฒนาซอฟต์แวร์ ด้าน Front End Developer รุ่นที่ 2</div>
                        <h6 class="category">วันที่ 15 ธันวาคม 2564 ณ วิทยาลัยศิลปะ สื่อ และเทคโนโลยี มหาวิทยาลัยเชียงใหม่</h6>
                        <ul>
                            <li>อบรมหลักสูตร Front End Developer จำนวน 144 ชั่วโมง ( 2 เดือนครึ่ง )</li>
                            <li>เข้าร่วมกิจกรรม Hackathon ( สร้าง  Web Application ส่วน Frontend โดย Vue.js ทางโครงการจัดเตรียม API ให้)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header cursor-pointer" data-toggle="modal" data-target="#certone">
                        <img src="assets/images/cert.Front - Phornpimon.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">โครงการการอบรมการพัฒนาซอฟต์แวร์ ด้าน Front End Developer รุ่นที่ 2</div>
                        <h6 class="category">วันที่ 15 ธันวาคม 2564 ณ วิทยาลัยศิลปะ สื่อ และเทคโนโลยี มหาวิทยาลัยเชียงใหม่</h6>
                        <ul>
                            <li>อบรมหลักสูตร Front End Developer จำนวน 144 ชั่วโมง ( 2 เดือนครึ่ง )</li>
                            <li>เข้าร่วมกิจกรรม Hackathon ( สร้าง  Web Application ส่วน Frontend โดย Vue.js ทางโครงการจัดเตรียม API ให้)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="certone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/cert.Front - Phornpimon.jpg" alt="Avatar" class="image">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>