<div class="section" id="personalproject">
  <div class="h4 text-center title">Personal Project</div>
  <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-6">
            <div class="card" data-aos="zoom-in">
              <div class="card-body">
                <div class="h4 text-center title">Web Application "Enjoy-Book-Delivery"</div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="imagemore mb-3" data-toggle="modal" data-target="#personal_project1">
                      <img src="assets/images/screencapture-45.jpg" alt="Avatar" class="image">
                      <div class="overlay">
                        <div class="text"><i class="fa fa-plus-square-o"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="mr-4 ml-4">
                      <p class="mb-3">
                        <strong><a 
                            href="http://enjoy-book.s3-website-us-west-2.amazonaws.com/" target="_blank">http://enjoy-book.s3-website-us-west-2.amazonaws.com/</a></strong>
                      </p>
                      <p class="mb-0">
                        <strong>Technologies</strong>
                      </p>
                      <p class="mb-0">Frontend : Angular, Bootstrap</p>
                      <p class="mb-0">Backend : Spring boot</p>
                      <p class="mb-5">Database : PostgreSQL</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" data-aos="zoom-in">
              <div class="card-body">
                <div class="h4 text-center title">Website "phornpimon-portfolio"</div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="imagemore mb-3" data-toggle="modal" data-target="#personal_project2">
                      <img src="assets/images/screencapture-58.jpg" alt="Avatar" class="image">
                      <div class="overlay">
                        <div class="text"><i class="fa fa-plus-square-o"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="mr-4 ml-4">
                      <p class="mb-3">
                        <strong><a
                            href="https://phornpimon-portfolio.web.app/#">https://phornpimon-portfolio.web.app/#</a></strong>
                      </p>
                      <p class="mb-0">
                        <strong>Technologies</strong>
                      </p>
                      <p class="mb-0">Frontend : Angular, Bootstrap</p>
                      <p class="mb-0 text-white">-</p>
                      <p class="mb-5 text-white">-</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>
<!-- Modal -->
<div class="modal fade" id="personal_project1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enjoy-Book-Delivery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/screencapture-45.jpg" alt="Avatar" class="image">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="personal_project2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Website "phornpimon-portfolio"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/screencapture-58.jpg" alt="Avatar" class="image">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>