<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                        <p align="justify">I'm currently work as a frontend developer. I'm interested in java
                            programming. I do self-study with online courses. It has been a long-term goal of mine to
                            pursue a career in senior java programming. I work daily to utilize computer programming
                            language in the development of a number of technical projects and assignments. I'm also a
                            thorough communicator and work well as part of a team.</p>
                        <!-- <p align="justify">Lover of innovation and everything related to generate new knowledge.Face
                            problems with a smile and solve them as soon as possible. Very calculated about the time I
                            spend and work I do.</p>
                        <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">Jan 16, 1987</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">phornpimon.lak@gmail.com</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">0892005064</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">1/841 Banmai Sub-district, Pakkred District, Nonthaburi</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Website:</strong>
                            </div>
                            <div class="col-sm-8"><a
                                    href="https://phornpimon-portfolio.web.app/#">https://phornpimon-portfolio.web.app/#</a></div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Github:</strong>
                            </div>
                            <div class="col-sm-8"><a
                                    href="https://github.com/phornpimon">https://github.com/phornpimon</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="h4 text-center mb-4 title">Skills</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body-skills">
                <div class="progress-container progress-primary">
                    <div class="row text-center">
                        <span class="progress-badge mt-1">SPRING BOOT</span>
                        <span class="progress-badge mt-1 ml-1">JAVA</span>
                        <span class="progress-badge mt-1 ml-1">ANGULAR</span>
                        <span class="progress-badge mt-1 ml-1">TYPESCRIPT</span>
                        <span class="progress-badge mt-1 ml-1">Vue.js</span>
                        <span class="progress-badge mt-1 ml-1">JAVASCRIPT</span>
                        <span class="progress-badge mt-1 ml-1">HTML</span>
                        <span class="progress-badge mt-1 ml-1">CSS</span>
                        <span class="progress-badge mt-1 ml-1">SQL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>